<div class="container-fluid mt-4">
  <button type="button" class="btn btn-outline-primary mb-4" (click)="goBack()">
    Back
  </button>
  <button
    type="button"
    class="btn btn-primary mb-4 ml-4"
    [routerLink]="['/minuteAdd', landFileId]"
  >
    Add Minute File
  </button>
  <button
    type="button"
    class="btn btn-primary mb-4 ml-4"
    [routerLink]="['/officeAdd', landFileId]"
  >
    Add Office History
  </button>

  <div class="row">
    <div class="col-md-5 col-sm-6 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="display-item">
                <p class="p-0 m-0 title">Property Name</p>
                <p class="font-weight-bold">
                  {{ landFile.propertyNumber || '---' }}
                </p>
              </div>
              <div class="display-item">
                <p class="p-0 m-0 title">Reference number</p>
                <p class="font-weight-bold">
                  {{ landFile.referenceNumber || '---' }}
                </p>
              </div>
              <div class="display-item">
                <p class="p-0 m-0 title">Nature Of Instrument</p>
                <p class="font-weight-bold">
                  {{ landFile.natureOfInstrument || '---' }}
                </p>
              </div>
              <div class="display-item">
                <p class="p-0 m-0 title">Date Of Instrument</p>
                <p class="font-weight-bold">
                  {{ landFile.dateOfInstrument || '---' }}
                </p>
              </div>
              <div class="display-item">
                <p class="p-0 m-0 title">Grantor</p>
                <p class="font-weight-bold">
                  {{ landFile.grantor || '---' }}
                </p>
              </div>
              <div class="display-item">
                <p class="p-0 m-0 title">Grantee</p>
                <p class="font-weight-bold">
                  {{ landFile.grantee || '---' }}
                </p>
              </div>
              <div class="display-item">
                <p class="p-0 m-0 title">Acreage</p>
                <p class="font-weight-bold">
                  {{ landFile.acreage || '---' }}
                </p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="display-item">
                <p class="p-0 m-0 title">FileNumber</p>
                <p class="font-weight-bold">
                  {{ landFile.fileNumber || '---' }}
                </p>
              </div>
              <div class="display-item">
                <p class="p-0 m-0 title">Term Years</p>
                <p class="font-weight-bold">
                  {{ landFile.termYears || '---' }}
                </p>
              </div>
              <div class="display-item">
                <p class="p-0 m-0 title">Purpose</p>
                <p class="font-weight-bold">
                  {{ landFile.purpose || '---' }}
                </p>
              </div>
              <div class="display-item">
                <p class="p-0 m-0 title">Location</p>
                <p class="font-weight-bold">
                  {{ landFile.location || '---' }}
                </p>
              </div>
              <div class="display-item">
                <p class="p-0 m-0 title">Shelf Number</p>
                <p class="font-weight-bold">
                  {{ landFile.shelfNumber || '---' }}
                </p>
              </div>
              <div class="display-item">
                <p class="p-0 m-0 title">Documentation Date</p>
                <p class="font-weight-bold">
                  {{ landFile.documentationDate || '---' }}
                </p>
              </div>
              <div class="display-item">
                <p class="p-0 m-0 title">Consideration</p>
                <p class="font-weight-bold">
                  {{ landFile.consideration || '---' }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-sm-6">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body p-0">
              <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Minute Files">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Minute Number</th>
                        <th>Type</th>
                        <th>File</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let minute of landFile.minuteFiles">
                        <td scope="row">{{ minute.minuteNumber }}</td>
                        <td>{{ minute.type }}</td>
                        <td>
                          <a
                            target="_blank"
                            (click)="safeUrl(minute.uploadFileUrl)"
                            *ngIf="minute.uploadFileUrl"
                            class="btn-link"
                            >View File</a
                          >

                          <p *ngIf="!minute.uploadFileUrl">No File</p>
                        </td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-outline-danger mb-4"
                            (click)="deleteMinute(minute)"
                          >
                            Delete
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p
                    class="text-center my-5"
                    *ngIf="landFile.minuteFiles?.length === 0"
                  >
                    No minute files found.
                  </p>
                </mat-tab>
                <mat-tab label="Office Histories">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Office Number</th>
                        <th>Location</th>
                        <th>Giver</th>
                        <th>Collector</th>
                        <th>Delivered</th>
                        <th>Date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let history of landFile.officeHistories">
                        <td scope="row">{{ history.officeNumber }}</td>
                        <td>{{ history.location }}</td>
                        <td>{{ history.giver }}</td>
                        <td>{{ history.collector }}</td>
                        <td>{{ history.delivered }}</td>
                        <td>{{ history.createdAt | date }}</td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-outline-danger mb-4"
                            (click)="deleteLandFile(history)"
                          >
                            Delete
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p
                    class="text-center my-5"
                    *ngIf="landFile.officeHistories?.length === 0"
                  >
                    No office histories found.
                  </p>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
